/* Customizer */

.customizerTile {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: solid white 2px;
  box-shadow: 0 0 0 1pt rgb(132, 0, 2);
}

.customizerTileBtn {
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: solid white 2px;
  box-shadow: 0 0 0 1pt rgb(132, 0, 2);
}

.customizerTileBtn:active,
.customizerTileBtn:focus {
  outline: 0;
  box-shadow: 0 0 0 1pt rgb(132, 0, 2);
}

input[type=text]:active,
input[type=text]:focus {
  outline: 0;
  box-shadow: none;
  border: 1px solid grey;
}

.custom-file-input {
  height: calc(1.5em + 0.5rem + 2px) !important;
}

.custom-file-input:focus ~ .custom-file-label {
  border-color: inherit !important;
  box-shadow: 0 0 0 0.2rem rgba(144, 144, 144, 0.25);
}

.custom-file-label {
  color: #6c757d !important;
  height: calc(1.5em + 0.5rem + 2px) !important;
  padding: 0.25rem 0.5rem;
}

.custom-file-label::after {
  height: calc(1.5em + 0.5rem + 2px) !important;
  padding: 0.25rem 0.5rem;
}

/* Tiles */

.scene {
  width: 100%;
  -webkit-perspective: 30em;
  -moz-perspective: 30em;
  perspective: 30em;
}

.tile {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  border-radius: 10px;
  border: solid white 2px;
  box-shadow: 0 0 0 1pt rgb(132, 0, 2);
}

.tileBtn {
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.tileBtn:active,
.tileBtn:focus {
  outline: none;
}

.tileImg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.isTurned {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.isMatched {
  visibility: hidden;
}

.tilesGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 75px);
  width: 100%;
  grid-gap: 10px;
}

/* Scoreboard */

.top-left-radius {
  border-top-left-radius: 0.25rem;
}

.top-right-radius {
  border-top-right-radius: 0.25rem;
}

.tooltipper {
  border-bottom: 1px dashed #adadad;
  cursor: help;
}

.isPlaying::before {
  content: '👋 ';
}

.isPlaying {
  background-color: green;
  color: white;
}

.isWinner::before {
  content: '🎉 ';
}

.isWinner::after {
  content: ' 🎉';
}

.isWinner {
  color: white;
  -webkit-animation: blinkingBackground 2s infinite;
  -moz-animation: blinkingBackground 2s infinite;
  animation: blinkingBackground 2s infinite;
}

@-webkit-keyframes blinkingBackground {
  0% { background-color: hotpink; }
  25% { background-color: indigo; }
  50% { background-color: seagreen; }
  75% { background-color: mediumvioletred; }
  100% { background-color: orangered; }
}

@-moz-keyframes blinkingBackground {
  0% { background-color: hotpink; }
  25% { background-color: indigo; }
  50% { background-color: seagreen; }
  75% { background-color: mediumvioletred; }
  100% { background-color: orangered; }
}

@keyframes blinkingBackground {
  0% { background-color: hotpink; }
  25% { background-color: indigo; }
  50% { background-color: seagreen; }
  75% { background-color: mediumvioletred; }
  100% { background-color: orangered; }
}

/* Setup */

.btn:active,
.btn:focus {
  box-shadow: none;
  outline: none !important;
}

.switch-off {
  background-color: #560092;
  border-color: #560092;
  color: white;
}

.switch-off:hover {
  background-color: rgba(86, 0, 146, 0.7);
  color: white;
}

.orange {
  background-color: #e1850e;
  color: white;
  -webkit-transition: background-color 500ms;
  -moz-transition: background-color 500ms;
  transition: background-color 500ms;
}

.orange:hover {
  background-color: #560092;
  color: white;
}

.switch-on {
  background-color: #e1850e;
  border-color: #e1850e;
  color: white;
}

.switch-on:hover {
  background-color: rgba(225, 133, 14, 0.7);
  color: white;
}

.showRow {
  -webkit-transition: height ease-out 500ms;
  -moz-transition: height ease-out 500ms;
  transition: height ease-out 500ms;
}

.hideRow {
  height: 0 !important;
  overflow: hidden;
}

/* Media queries */

@media (min-width: 768px) {
  .tilesGrid {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 100px);
  }
}

@media (min-width: 992px) {
  .tilesGrid {
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .tilesGrid {
    width: 78%;
  }
}
