
.scene {
  width: 100%;
  perspective: 30em;
}

.tile {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

.isTurned {
  transform: rotateY(180deg);
}

.tilesGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 75px);
  width: 100%;
  grid-gap: 10px;
}

.tileImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.isPlaying::before {
  content: '👋 ';
}

.switch .toggle-off {
  background-color: #560092;
  border-color: #560092;
  color: #FFF;
}

.switch .toggle-on {
  background-color: #e1850e;
  border-color: #e1850e;
  color: #FFF;
}
/* 
.toggle-off,
.toggle-off .toggle-handle {
} */

@media (min-width: 768px) {
  .tilesGrid {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 100px);
  }
}

@media (min-width: 992px) {
  .tilesGrid {
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .tilesGrid {
    width: 78%;
  }
}
